services:
  db:
    image: pgvector/pgvector:pg16
    container_name: pgvector-db
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redisdata:/data

  app:
    build: .
    container_name: spring-app
    depends_on:
      - db
      - redis
    ports:
      - "8080:8080"
    env_file: .env

volumes:
  pgdata:
  redisdata:
