name: CI/CD using github actions

on:
  push:
    branches: [ "dev" ]    
  workflow_dispatch:               

jobs:
  CI-CD :
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          
      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Generate application-secret.yaml
        run: |
          mkdir -p src/main/resources
          cat << 'EOF' > src/main/resources/application-secret.yaml
          ${{ secrets.APPLICATION_SECRET_YML }}
          EOF

      - name: Generate chat-prompt.yaml
        run: |
          mkdir -p src/main/resources/prompts
          cat << 'EOF' > src/main/resources/prompts/chat_prompt.yaml
          ${{ secrets.CHAT_PROMPT }}
          EOF
          
      - name: Build with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew bootJar

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t sangwook123/nyangtodac:latest .
          docker push sangwook123/nyangtodac:latest
          
      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull sangwook123/nyangtodac:latest
            docker stop spring-app || true
            docker rm spring-app || true
            docker run -d \
            --name spring-app \
            --env-file /home/nyangtodac/.env \
            -p 8080:8080 \
            sangwook123/nyangtodac:latest
